<%- include('header'); -%>	

<body>
	<div class="container-sm">
		<div class="card my-5 p-3 bg-dark text-light" >


			<div class="container" role="main">			
				<% if (message.length> 0) { %>
					<div class="alert alert-default alert-close mb-5">
						<button class="alert-btn-close">
							<i class="fad fa-times"></i>
						</button>
						<span><%= message %></span>
					</div>
					<% } %>
			</div>


			<div class="card-body" style="background: black;">
				<h2 class="mb-3">Sugam</h2>
				<form id="form" action="/getreport" method="post" >
					<div class="input-group mb-3">
						<input type="url" name="url" id="url" class="form-control" placeholder="Enter a website..."
							style="width: 90%;float: left;height: 39px;" />
						<button type="submit" class="btn btn-indigo">Scan</button>
					</div>
				</form>
			</div>


			<div class="card">
			
				<div class="card-body">
					<h2 class="font-bold text-lg mb-10">Scan Settigs :</h2>
			
					<!-- start a table -->
					<table class="table-fixed w-full">
						<!-- table body -->
						<tbody class="text-left text-gray-600">
			
							<!-- item -->
							<tr>
			
								<!-- Level -->
								<th class="w-1/2 mb-4 text-xs font-extrabold tracking-wider flex flex-row items-center w-full">Level :</th>
								<!-- Level -->
			
								<!-- choose -->
								<th class="w-1/4 mb-4 text-xs font-extrabold tracking-wider text-right">
									<div class="dropdown">
										<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
											<span class="caret"></span></button>
										
									</div>
								</th>
								<!-- choose -->							
			
							</tr>
							<!-- item -->
			
			
							<!-- item -->
							<tr>
								
			
								<!-- coverage -->
								<th class="w-1/2 mb-4 text-xs font-extrabold tracking-wider flex flex-row items-center w-full">Coverage :</th>
								<!-- coverage -->
			
								<!-- invoice -->
								<th class="w-1/4 mb-4 text-xs font-extrabold tracking-wider text-right">#<span class="num-4"></span>
								</th>
								<!-- invoice -->
			
								<!-- price -->
								<th class="w-1/4 mb-4 text-xs font-extrabold tracking-wider text-right">$<span class="num-2"></span>
								</th>
								<!-- price -->
							</tr>
							<!-- item -->
			
			
							<!-- item -->
							<tr>
								
			
								<!-- Alerts -->
								<th class="w-1/2 mb-4 text-xs font-extrabold tracking-wider flex flex-row items-center w-full">Alerts</th>
								<!-- Alerts -->
			
								<!-- invoice -->
								<th class="w-1/4 mb-4 text-xs font-extrabold tracking-wider text-right">#<span class="num-4"></span>
								</th>
								<!-- invoice -->
			
								
			
							</tr>
							<!-- item -->
			
							<!-- item -->
							<tr>
								<!-- name -->
								<th class="w-1/4 mb-4 text-xs font-extrabold tracking-wider text-right">
									<div class="alert alert-light mb-5">
										Placeholder
									</div>
								</th>
								<!-- name -->
			
							</tr>
							<!-- item -->
			
							<!-- item -->
							<tr>
								<!-- name -->
								<th class="w-1/2 mb-4 text-xs font-extrabold tracking-wider flex flex-row items-center w-full">									
									<p class="ml-3 name-1">Notification</p>
								</th>
								<!-- name -->
			
								<!-- product -->
								<th class="w-1/4 mb-4 text-xs font-extrabold tracking-wider text-right">
									<input type="url" id="url" class="form-control" placeholder="Enter a EmailId..."
										 />
								</th>
								<!-- product -->								
							</tr>
							<!-- item -->

							<!-- item -->
							<tr>
							   <!-- name -->
								<th class="w-1/4 mb-4 text-xs font-extrabold tracking-wider text-right">
								    <div class="alert alert-light mb-5">
										Placeholder
									</div>
							    </th>
									<!-- name -->
								
							</tr>
								<!-- item -->
			
						</tbody>
						<!-- end table body -->
			
					</table>
					<!-- end a table -->
				</div>
			
			</div>

		</div>
		
	</div>

</body>

</html>